@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Special+Elite&display=swap');

body {
    /* Imagem de fundo restaurada */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('../images/sunny.gif');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Special Elite', cursive;
}

.wanted-poster {
    background: #f4e4bc;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border: 15px solid #5d4037;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.8);
    text-align: center;
    
}

.logo { 
    width: 150px; 
    margin-bottom: 15px; 
}

.image-container {
    
    border: 4px solid #333;
    display: inline-block;   
    justify-content: center;
    align-items: center;
   
}

.char_image {
  
    max-width: 250px;    /* Define um tamanho máximo para a imagem não ficar enorme */
    width: 100%;         /* Mas permite que ela diminua em telas de celular */
    height: auto;        /* Mantém a proporção original sempre */
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra leve na foto para dar profundidade */
}

.char_name {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 15px 0 5px;
    color: #222;
    text-transform: uppercase;
}

.char_role {
    color: #d32f2f;
    font-weight: bold;
    margin-bottom: 10px;
}

.char_bounty {
    font-family: 'Oswald', sans-serif;
    color: #5d4037;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 1px;
}

.char_bounty span {
    color: #b71c1c; 
}

.char_fruit {
    font-family: 'Oswald', sans-serif;
    color: #5d4037;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 20px;
}

.char_fruit span {
    color: #2e7d32; 
    font-style: italic;
}

.search-form { 
    margin-bottom: 15px; 
}

.input_search {
    width: 100%;
    padding: 10px;
    border: 2px solid #5d4037;
    background: rgba(255,255,255,0.5);
    font-family: inherit;
    outline: none;
    box-sizing: border-box; 
}

.navigation { 
    display: flex; 
    gap: 10px; 
}
.fruit_name {
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
} 
.btn {
    flex: 1;
    padding: 12px;
    background: #5d4037;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn:hover { 
    background: #3e2723; 
}